
.curseclient

.mixin.out/

libraries/

llibrary/

logs/

*.log

minecraftinstance.json

config/antiqueatlas/biome_textures.json

config/AppliedEnergistics2/CustomRecipes.cfg

config/AppliedEnergistics2/items.csv

config/AppliedEnergistics2/VersionChecker.cfg

config/codechicken/supporters.json

config/corpsecomplex.cfg

config/creativecore-client.json

config/disenchanter.cfg

config/dynamictrees.cfg

config/enhancedvisuals-client.json

config/firstaid.cfg

options.txt

servers.dat
