
.curseclient

.mixin.out/

libraries/

llibrary/

logs/

*.log

minecraftinstance.json

config/antiqueatlas/biome_textures.json

config/AppliedEnergistics2/VersionChecker.cfg

config/InvTweaks/InvTweaks.cfg

config/splash.properties

journeymap/
